/* TEXTO DEL MAIN */
/* INDEX */
.bien{
    height: 100%;
    width: 100%;

    &__textoUno{
        text-align: $infoPosicion;
        font-size: 20px;
        padding: 200px 40px;
        height: 580px;
        color: rgb(255, 255, 255);
        margin-bottom: 7rem;
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/bienvenidos.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
}

@keyframes text{
    0%{
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 1rem;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 6px;
        margin-bottom: -40px;
    }
}

.bien{

    &__textoDos{
        text-align: $infoPosicion;
        font-size: 20px;
        margin-bottom: 5rem;
        padding: 70px 40px;
}
}