/* TEXTO DEL MAIN */
/* PRODUCTOS */
.tituloOferta{
    text-align: $tituloPosicion;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}
.imagenQuery{
    display: none;
}
.carrusel{
    height: 368px ;
    border: rgb(0, 0, 0) solid;
    border-radius: 30px;
    margin: auto;
    filter: grayscale(50%);

    &--Tres{
    height: 368px ;
    border: rgb(0, 0, 0) solid;
    border-radius: 30px;
    margin: auto;
    
    
}
}
.textoCarrusel{
    padding: 0%;
    color: rgb(0, 0, 0)!important;
    font-weight: 600;
}
.carousel-item{
    transition: transform .6s ease-in-out !important;
}
.carousel-caption {
    padding-bottom: 15.5rem !important;
    
}
.contenedorQuery{
    display: none;
}
