/* TEXTO DEL MAIN */
/* SUCURSAL */
.container__titulo{
    text-align: $tituloPosicion;
    margin: 50px;
    font-size: 35px;
}
.container__parrafo{
    text-align: $tituloPosicion;
    margin: 50px;
    font-size: 25px;
}

.contenedorMaps{
    justify-content: center;
    text-align: $infoPosicion;
    height: 330px;
    width: 100%;
    padding: 30px;
}